.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TheCanvas {
  background-color: whitesmoke;
  border: 10px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ClearButton {
  margin-left: 30%;
  margin-right:30%;
  display:inline;
}

.NewGameButton {
  display:inline;
}

.DrawBox {
  margin-top:75px;
  font-size: 32px;
  text-align: center;
  font-family: "Georgia";
  color: white; 
}

.PredBox {
  margin-top:10px;
  margin-bottom:10px;
  font-size: 32px;
  text-align: center;
  font-family: "Georgia";
  color: white;  
}

.whitelink {
  color:white;
  margin-left:25px;
  margin-right:25px;
}

.whitelink:hover {
  color:lightblue;
  text-decoration: none;
}

.how2play {
  background-color: white;
  margin-top:100px;
  padding: 75px;
  align-self: center;
  opacity: 0.75;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Georgia";
}

body {
  background-image: url("background.jpg");
}